###############################################################################
# ENV
###############################################################################
.env
.env.*
!.env.example

###############################################################################
# Python
###############################################################################
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.Python
*.log

###############################################################################
# Virtual Environment
###############################################################################
venv/
env/
ENV/
.venv/

###############################################################################
# Django
###############################################################################
*.sqlite3
db.sqlite3
media/
staticfiles/
local_settings.py

###############################################################################
# Migrations Cache
###############################################################################
**/migrations/__pycache__/

###############################################################################
# IDEs & Editors
###############################################################################
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

###############################################################################
# OS Files
###############################################################################
.DS_Store
Thumbs.db
desktop.ini

###############################################################################
# Testing & Coverage
###############################################################################
.coverage
htmlcov/
.pytest_cache/

###############################################################################
# Logs
###############################################################################
*.log
